- page_title s_('TagsPage|New Tag')
- default_ref = params[:ref] || @project.default_branch

- if @error
  .alert.alert-danger
    %button.close{ type: "button", "data-dismiss" => "alert" } &times;
    = @error

%h3.page-title
  = s_('TagsPage|New Tag')
%hr

= form_tag namespace_project_tags_path, method: :post, id: "new-tag-form", class: "form-horizontal common-note-form tag-form js-quick-submit js-requires-input" do
  .form-group
    = label_tag :tag_name, nil, class: 'control-label'
    .col-sm-10
      = text_field_tag :tag_name, params[:tag_name], required: true, tabindex: 1, autofocus: true, class: 'form-control'
  .form-group
    = label_tag :ref, 'Create from', class: 'control-label'
    .col-sm-10.create-from
      .dropdown
        = hidden_field_tag :ref, default_ref
        = button_tag type: 'button', title: default_ref, class: 'dropdown-menu-toggle wide form-control js-branch-select', required: true, data: { toggle: 'dropdown', selected: default_ref, field_name: 'ref' } do
          .text-left.dropdown-toggle-text= default_ref
        = render 'shared/ref_dropdown', dropdown_class: 'wide'
      .help-block
        = s_('TagsPage|Existing branch name, tag, or commit SHA')
  .form-group
    = label_tag :message, nil, class: 'control-label'
    .col-sm-10
      = text_area_tag :message, @message, required: false, tabindex: 3, class: 'form-control', rows: 5
      .help-block
        = s_('TagsPage|Optionally, add a message to the tag.')
  %hr
  .form-group
    = label_tag :release_description, 'Release notes', class: 'control-label'
    .col-sm-10
      = render layout: 'projects/md_preview', locals: { url: preview_markdown_path(@project), referenced_users: true } do
        = render 'projects/zen', attr: :release_description, classes: 'note-textarea', placeholder: s_('TagsPage|Write your release notes or drag files here...'), current_text: @release_description
        = render 'shared/notes/hints'
      .help-block
        = s_('TagsPage|Optionally, add release notes to the tag. They will be stored in the GitLab database and displayed on the tags page.')
  .form-actions
    = button_tag 'Create tag', class: 'btn btn-create', tabindex: 3
    = link_to 'Cancel', project_tags_path(@project), class: 'btn btn-cancel'
%script#availableRefs{ type: "application/json" }= @project.repository.ref_names.to_json.html_safe
